:root{
	--bg-color :white;
  --tex-color :black;
};

.jumbotron p {
	padding-left: 2%;
}
 

.parallax { 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:var(--bg-color);
}
.pages{
	text-align: center;
	align-self: center;
	align-content: center;
	align-items: center;
	padding:10 %;
	vertical-align: center;
}
#contact p{
    font-size: 150%;
    padding-top: 10%;
    border-bottom: solid;
}

input[type="checkbox"]{
    height: 0;
    width: 0;
    visibility: hidden;
}
label {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 25px;
    background: grey;
    display: block;
    border-radius: 25px;
    position: relative;
}
label:after {
    content: '';
    position: absolute;
    top: 1.25px;
    left: 1.25px;
    width: 22.5px;
    height: 22.5px;
    background: #fff;
    border-radius: 22.5px;
    transition: 0.3s;
}

input:checked + label {
    background: #bada55;
}
input:checked + label:after {
    left: calc(100% - 1.25px);
    transform: translateX(-100%);
}

label:active:after {
    width: 130px;
}
.registration-form {
  padding:50px 0;
}

.registration-form form {
  max-width:800px;
  padding:50px 70px;
  border-radius:10px;
  box-shadow:4px 4px 15px rgba(0, 0, 0, 0.2);
  background-color:var(--bg-color);
}

.registration-form form h3 {
  font-weight:bold;
  margin-bottom:30px;
}

.registration-form .item {
  border-radius:10px;
  margin-bottom:25px;
  padding:10px 20px;
}

.registration-form .create-account {
  border-radius:30px;
  padding:10px 20px;
  font-size:18px;
  font-weight:bold;
  background-color:#3f93ff;
  border:none;
  color:white;
  margin-top:20px;
}

.bar1, .bar2, .bar3 {
  width: 17.5px;
  height: 2.5px;
  background-color:var(--tex-color);
  margin: 3px 0;
  transition: 0.3s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-4.5px, 3px);
  transform: rotate(-45deg) translate(-4.5px, 3px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-4px, -4px);
  transform: rotate(45deg) translate(-4px, -4px);
}
#HERE {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 70%;
  overflow-x: scroll;
}

#HERE td, #HERE th {
  border: 1px solid #ddd;
  padding: 8px;
}
#HERE tr:{
  height: 30px;
  -webkit-print-color-adjust: exact; 
}
#HERE tr:nth-child(even){background-color:var(--tex-color);color:var(--bg-color)}
#HERE tr:nth-child(odd){background-color:var(--tex-color);color:var(--bg-color)}
#HERE tr:hover {background-color:pink;}

#HERE th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
.adderblk{
  background-color: var(--bg-color);
}
.addertxt{
  color: var(--tex-color);
}
